
.advertise {
   background-color: #e6e7e9;
   border-radius: 10px; 

}
.advertise h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: normal;
}
.sidebar{
    background-color: #ffffff !important;
    border-radius: 10px !important;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
.profile {
    border: 2px solid #ffb900;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-type{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.profile-options{
    display: flex;
    justify-content:space-around;
    background-color: #ffb900;
}
.profile-options span {
    font-size: 1.4rem;

}

.home-list , .archive-list  ,.sections-list  {
    padding-right: 15px;

}
.home-list li, .archive-list li ,.sections-list li {
    list-style: none;
    padding: 5px;
}
.home-list li a, .archive-list li a ,.sections-list li a{
    color: #aaaaaa !important;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
    

}
.home-list li a.active, .archive-list li a.active ,.sections-list li a.active{
    color:#ffbb03 !important
}
.side-contain {
    background-color:#f1f2f3 ;
    border-radius: 10px;
}
.special-offer{
    /* background-color: #f1f2f3; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 23px;
    border-radius: 10px;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius:0 !important ;
}
.special-offer .offer {
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 600;
}
.side-left{
    background-color: #ffffff;
    z-index: 10;
    padding: 15px;
    border-radius: 10px;
   
}
.slider-section{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mdi-chevron-right::before {
    content: "\F0142";
    margin: -3px -1px;
}
.mdi-chevron-left::before {
    content: "\F0141";
    margin: -3px -4px;
}
.controls .right-control{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.1s ease-in-out;
    opacity: 0.7;
}
.controls .left-control{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
    opacity: 0.7;
}
.controls .left-control:hover , .controls .right-control:hover {
    opacity: 1;
}
.controls .title {
    cursor: pointer;
}
.mdi.mdi-chevron-right ,  .mdi.mdi-chevron-left {
    font-size: 1.5rem;
}

.vjs-poster{
    background-image: url(../img/View_From_A_Blue_Moon_Trailer-HD.jpg) !important;
    border-radius: 10px !important;
    
}
.main{
    border-radius: 10px;
}
form {
    background-color: #f5f5f5;
}

.line{
    width: 90%;
    margin: 8px auto;
}
.video-download{
    display:flex;
    justify-content: space-between;

}
.download{
    display: flex;
    align-items: center;
}
.download a ,.download a span {
    font-weight:600
}
.video-download-detailes button {
    border:none;
    outline: none;
    border-radius: 10px;
    padding: 4px 12px;
    margin:0 5px;
    font-weight: 600;
    font-size: 0.9rem;
}
.video-download-detailes button span {
    font-weight: 600;
    font-size: 0.9rem;
}
.video-text{
    font-weight: 400;
    font-size: 1.2rem;
}
.video-footer{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;

}
.video-footer button {
    border:none;
    outline: none;
    border-radius: 10px;
    padding: 4px 12px;
    margin:0 5px;
    font-weight: 500;
    font-size: 0.7rem;
}
.hashtags button {
    margin-top: 3px ;
}
.form-control{
    border: none !important;
    outline: none !important;

}
.form-control:focus{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

}
.comments{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.comments .send-comment {
    background: linear-gradient(to right ,#4f0070,#ad06f0);
    color: #ffffff !important;
    padding: 12px 88px;
    border-radius: 10px;
}
.img-container1{
    position: relative;
    width: 100%;
    padding-bottom: 35.67%;
}
.img-container{
    position: relative;
    width: 100%;
    padding-bottom: 66.67%;
}

.comments .see-comment {
    padding: 10px 44px;
    border-radius: 10px;
    border: none;
}
.side-left-section img{
    position: absolute;
    width: 100%;
    object-fit: fill;
    height: 100%;
}
.last-learning-clip{
    background-color: #ffffff;
    border-radius: 10px;
}
.final-section{
    background-color: #f1f2f3;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
.side-left-section.item{
    flex-basis: 30%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ffffff !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: 10px !important;
}
.nav-link{
    color:#ffffffff;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 25px 30px !important;
}
.default{
    border-radius: 10px !important;
}
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* border-top-right-radius:10px !important; */
    border-bottom-right-radius: 10px !important;
}
.btn-group>.btn:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* border-top-left-radius: 10px !important; */
    border-bottom-left-radius: 10px !important;
}
.dropdown-menu {
    direction: rtl !important;
    position: absolute !important;
    transform: translate3d(-1px, -315px, 0px) !important;
    top: 360px !important;
    left: 1px !important;
    width: 100% !important;
    border: none !important;
}
.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: inherit;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow:none !important;
}
.btn-secondary {
    color: rgb(0, 0, 0) !important;
    background-color: #ffb900 !important;
    border: none!important;
}
.btn-secondary.focus, .btn-secondary:focus {
    color: rgb(0, 0, 0) !important;
    background-color: #ffb900 !important;
    border: nonw !important;
    box-shadow:none !important;
}
.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-left: 0px !important;
}
.ckin-play, .default .progress__filled, .ckin-volume-medium, .ckin-expand, .ckin-pause {
    color:#ffffff !important;
    opacity: 0.8;
}
.default .progress__filled {
    background: #ffffff !important;
    opacity: 0.8;

}
.search-box{
    background-color: #ffffff;
    border-radius:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
.search-box input {
    border:none;
    outline: none;
}
.mdi-magnify::before {
    font-size: 1.5rem !important;
    line-height: initial !important;
}
.side-left-section-title span {
    font-size: 0.73rem !important;
    font-weight: 600 !important;
}
.side-left-section-title small {
    font-size: 0.67rem !important;
    font-weight: 500 !important;
}
#my-video_html5_api {
    border-radius: 10px;
}
#my-video {
    border-radius: 10px;
}
.home-list li a:hover, .archive-list li a:hover ,.sections-list li a:hover{
    color: #ffbb03 !important;
}
.vjs-control-bar {
    border-radius: 0 0 10px 10px !important;
}
.side-left-section-footer {
    font-size: 0.9rem;
}
.video-js .vjs-seek-button.skip-back.skip-10::before, .video-js.vjs-v6 .vjs-seek-button.skip-back.skip-10 .vjs-icon-placeholder::before, .video-js.vjs-v7 .vjs-seek-button.skip-back.skip-10 .vjs-icon-placeholder::before {
    content: "\f04a" !important;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 14px;
}
.video-js .vjs-seek-button.skip-forward.skip-30::before, .video-js.vjs-v6 .vjs-seek-button.skip-forward.skip-30 .vjs-icon-placeholder::before, .video-js.vjs-v7 .vjs-seek-button.skip-forward.skip-30 .vjs-icon-placeholder::before {
    content: "\f04e" !important;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 14px;
}



@media only screen and (max-width:1200px){
    .name{
        font-size: 0.9rem;
        letter-spacing: -1px;
        margin-right: 0 !important;
    }
    .home-list , .archive-list  ,.sections-list  {
        padding-right: 10px;
    
    }
    .home-list li a, .archive-list li a ,.sections-list li a{
        font-size: 1rem;
    }
    .contact-type{
        font-size: 0.8rem;
    }
    h5{
        font-size: 1.1rem !important;
    }
    .video-detailes h4{
        font-size:1.2rem;
    }
    .video-download  {

        flex-direction: column;
    }
    .video-download .download{
        margin-bottom: 5px;
    }
    .video-download-detailes bottom{
       font-size: 0.7rem;
       margin:0 3px
    }
    .video-text{
        font-size: 1rem;
    }
    .special-offer{
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
    }
    .simple-video{
        font-size: 0.8rem;
    }
    .img-container1 {
        padding-bottom: 66.67%;
    }
    .side-left-section-title span {
        font-size: 1rem !important;
    }
    .side-left-section-title small {
        font-size: 0.8rem !important;
    }
    
    
}

@media only screen and (max-width:992px){
    .sidebar{
        display:none !important
    }
    .name{
        font-size: 0.8rem;
        letter-spacing: -1px;
        margin-right: 0 !important;
    }
    .home-list li a, .archive-list li a ,.sections-list li a{
        font-size: 0.9rem;
    }
    .contact-type{
        font-size: 0.7rem;
    }
    h5{
        font-size: 1rem !important;
    }
    .video-detailes h4{
        font-size:1rem;
    }
    .video-download {
        padding: 0 1rem;
    }
    .video-text{
        font-size: 0.9rem;
    }
    .nav-link{
        font-size: 1.1rem;
        font-weight: 600;
        padding: 20px 25px !important;
    }
    .main-color.title {
        font-size: 1.4rem;
    }
    .home-list li a, .archive-list li a ,.sections-list li a{
        color: #4f0070 !important;
        font-size: 1.3rem;
        font-weight: 500;
    }
    .side-left-section-title span {
        font-size: 0.9rem !important;
    }
    .side-left-section-title small {
        font-size: 0.75rem !important;
    }
  
}
@media only screen and (max-width:768px){
    .name{
        font-size: 0.5rem;
        letter-spacing: -1px;
        margin-right: 0 !important;
    }
    .home-list li a, .archive-list li a ,.sections-list li a{
        font-size: 0.7rem;
    }
    .contact-type{
        font-size: 0.5rem;
    }
    .profile-options{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .home-list li , .archive-list li  ,.sections-list li {
       padding: 3px;

    }
    h5{
        font-size: 0.9rem !important;
    }
    .video-detailes h4{
        font-size:0.9rem;
    }
    .video-download {
        padding: 0 0.8rem;
    }
    .video-download-detailes bottom{
        font-size: 0.6rem;
        margin:0 2px;
        padding: 3px 10px;

     }
    .video-text{
        font-size: 1rem;
    }
    .nav-link{
        font-size: 0.8rem;
        font-weight: 600;
        padding: 10px 10px !important;
    }
    .side-left-section.item{
        flex-basis:auto
    }
    .main-color.title {
        font-size: 1.2rem;
    }
    .nav.nav-pills {
        padding-right: 20px !important;
    }
    .img-container1{
        padding-bottom: 66.67%;
    }
    .side-left-section-title span {
        /* width: 200px !important; */
        display: block;
        /* text-overflow: ellipsis !important; */
        /* white-space: nowrap !important; */
        /* overflow: hidden !important; */
    }
    
}
@media only screen and (max-width:576px){
    .sidebar{
        display:none
    }
    .name{
        font-size: 0.5rem;
        letter-spacing: -1px;
        margin-right: 0 !important;
    }
    .home-list li a, .archive-list li a ,.sections-list li a{
        font-size: 0.7rem;
    }
    .contact-type{
        font-size: 0.5rem;
    }
    .profile-options{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .home-list li , .archive-list li  ,.sections-list li {
       padding: 3px;

    }
    h5{
        font-size: 0.9rem !important;
    }
    .video-detailes h4{
        font-size:0.9rem;
    }
    .video-download {
        padding: 0 0.8rem;
    }
    .video-download-detailes bottom{
        font-size: 0.6rem;
        margin:0 2px;
        padding: 3px 10px;

     }
    .video-text{
        font-size: 0.9rem;
        white-space: nowrap;
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .send-comment{
        padding:12px 30px;
    }
    .see-comment{
        padding:10px 25px;
    }
    .nav-link{
        font-size:0.7rem;
        font-weight: 600;
        padding: 5px 5px !important;
    }
    .nav-item{
        padding: 0;
    }
    .nav .nav-pills{
        justify-content: space-evenly;
    }
    .main-color.title {
        font-size: 1rem;
    }
    .nav.nav-pills {
        padding-right: 0px !important;
    }
    .search-box input {
       font-size: 0.8rem;
    }
}
